<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{header.title}"></title>
<link rel="stylesheet" type="text/css" href="/css/main-left.css"
	th:href="@{/css/main-left.css}">
</head>
<body>
	<header>
		<div class="container-header">
			<h1 th:text="#{header.title}"></h1>

		</div>
	</header>
	<div class="container clearfix">
		<div id="sidebar">
			<div class="sidebar__inner">
				<div th:replace="menu-left :: navbar"></div>
			</div>
		</div>
		<div id="content">		 
			<p> My Forest.</p>
			<form id="parcellecadastraleForm"  th:object="${forest}"
				th:action="@{/forestadd}" method="post" action="#">

				
				 <label	for="fordsqdsqest">Nouvelle Forêt</label> <input type="text" th:field="*{name}"	 /> 
					
				<div class="form-actions">
					<input type="submit" value="Save" />
				</div>
			</form>
			
		</div>
	</div>
	<footer>
		<p>Very Tall Footer</p>
	</footer>
</body>
</html>


