<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{header.title}"></title>
<link rel="stylesheet" type="text/css" href="/css/main-left.css"
	th:href="@{/css/main-left.css}">
</head>
<body>
	<header>
		<div class="container-header">
			<h1 th:text="#{header.title}"></h1>

		</div>
	</header>
	<div class="container clearfix">
		<div id="sidebar">
			<div class="sidebar__inner">
				<div th:replace="menu-left :: navbar"></div>
			</div>
		</div>
		<div id="content">		 
			<p> My Forest.</p>
			<form id="parcellecadastraleForm"  th:object="${forest}"
				th:action="@{/forestmodify}" method="post" action="#">

				<input type="text" th:field="*{id}"	 /> 
				 <label	for="fordsqdsqest">Nouvelle Forêt</label> <input type="text" th:field="*{name}"	 /> <br />
				 <label	for="fordsqdsqest">Propriétaire</label> <input type="text" th:field="*{proprietaire}"	 />
				 <label	for="fordsqdsqest">Situation Géographique</label> <input type="text" th:field="*{situation_geographique}"	 /> 
				 <label	for="fordsqdsqest">Zonage réglementaire</label> <input type="text" th:field="*{zonage_reglementaire}"	 /> 
				 <label	for="fordsqdsqest">Droit usage</label> <input type="text" th:field="*{droit_usage}"	 /> 
				 <label	for="fordsqdsqest">Relief</label> <input type="text" th:field="*{relief}"	 /> 
				 <label	for="fordsqdsqest">Région Forestière</label> <input type="text" th:field="*{region_forestiere}"	 />
				 <label	for="fordsqdsqest">Climat</label> <input type="text" th:field="*{climat}"	 />
				 <label	for="fordsqdsqest">Températue</label> <input type="text" th:field="*{temperature}"	 />  
				 <label	for="fordsqdsqest">Géologie</label> <input type="text" th:field="*{geologie}"	 />  	  
				 <label	for="fordsqdsqest">Gérer en parcelle forestière?</label> <input type="checkbox" th:field="*{manage_parcelle_forestiere}"	 /> 
				<div class="form-actions">
					<input type="submit" value="Save" />
				</div>
			</form>
			
		</div>
	</div>
	<footer>
		<p>Very Tall Footer</p>
	</footer>
</body>
</html>



