<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{header.title}"></title>
<link rel="stylesheet" type="text/css" href="/css/main-left.css"
	th:href="@{/css/main-left.css}">
</head>
<body>
	<header>
		<div class="container-header">
			<h1 th:text="#{header.title}"></h1>

		</div>
	</header>
	<div class="container clearfix">
		<div id="sidebar">
			<div class="sidebar__inner">
				<div th:replace="menu-left :: navbar"></div>
			</div>
		</div>
		<div id="content">
		 
			<p><h1>Vue détaillée de la Parcelle Cadastrale</h1></p>
		
<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>Numéro de Parcelle</td>
						<td>Commune</td>
						<td>Section</td>
						<td>Lieu Dit</td>
						<td>Surface</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${parcellecadastrale.numeroparcelle}"></td>
						<td th:text="${parcellecadastrale.commune}"></td>
						<td th:text="${parcellecadastrale.section}"></td>
						<td th:text="${parcellecadastrale.lieu_dit}"></td>
						<td th:text="${parcellecadastrale.surface}"></td>
					</tr>
				</tbody>

			</table>
			<br /> Liste des peuplements

			<div class="pull-right">
				<a href="addforest.html"
					th:href="@{/forest/peuplementaddtoparcad/}+ ${parcellecadastrale.id}">Ajouter
					un nouveau peuplement</a>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Unité forestière</td>
						<td>Type Peuplement</td>
						<td>Essence</td>
						<td>Commentaire</td>
						<td>Description</td>
						<td>Statut</td>
						<td>Surface</td>
						<td>Created dttm</td>
						<td>Created User</td>
						<td>Last updated dttm</td>
						<td>Last Updated user</td>
						<td>Modifier</td>
						<td>Cloturer</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="peuplement : ${peuplement}"
						th:if="${peuplement.status} == true">
						<td th:text="${peuplement.id}">1</td>

						<td th:text="${peuplement.uniteforestiere}">sqsq</td>
						<td><a th:href='@{/typepeuplementview/} + ${peuplement.typepeuplement.id}' th:text="${peuplement.typepeuplement.nom}">test</a></td>
						<td><a th:href='@{/essenceview/} + ${peuplement.essence.id}' th:text="${peuplement.essence.nom}">test</a></td>
						<td th:text="${peuplement.commentaire}">ttt</td>
						<td><a th:href='@{/peuplementview/} + ${peuplement.id}' th:text="${peuplement.description}"></a></td>
						<td th:text="${peuplement.status}">ttt</td>
						<td th:text="${peuplement.surface}">ttt</td>
						<td th:text="${peuplement.created_dttm}">ttt</td>
						<td th:text="${peuplement.created_source}">ttt</td>
						<td th:text="${peuplement.last_updated_dttm}">ttt</td>
						<td th:text="${peuplement.last_updated_source}">ttt</td>
						<td><a
							th:href='@{/forest/peuplementmodify/} + ${peuplement.id}'>Modifier</a></td>
						<td><a
							th:href='@{/forest/peuplementclose/} + ${peuplement.id}'>Clôturer</a></td>
					</tr>
				</tbody>
			</table>
			 
	</div>
	<footer>
		<p>Very Tall Footer</p>
	</footer>
</body>
</html>



