<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{header.title}"></title>
<link rel="stylesheet" type="text/css" href="/css/main-left.css"
	th:href="@{/css/main-left.css}">
</head>
<body>
	<header>
		<div class="container-header">
			<h1 th:text="#{header.title}"></h1>

		</div>
	</header>
	<div class="container clearfix">
		<div id="sidebar">
			<div class="sidebar__inner">
				<div th:replace="menu-left :: navbar"></div>
			</div>
		</div>
		<div id="content">
		
			<div class="pull-left">
				

<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Type</td>
							<td>Description</td>
												
						</tr>
					</thead>
					<tbody>						
						<tr>							
							    <td>Nom</td>
								<td th:text="${stationforestiere.nom}">test</a></td>
						</tr>
						<tr>							
							    <td>Description</td>
								<td th:text="${stationforestiere.description}">test</a></td>
						</tr>
						<tr>							
							    <td>Caractéristique du sol</td>
								<td th:text="${stationforestiere.caracteristique_sol}">test</a></td>
						</tr>
						<tr>							
							    <td>Peuplement naturel</td>
								<td th:text="${stationforestiere.peuplement_naturel}">test</a></td>
						</tr>
					</tbody>
				</table>
	<br />
	Champs d'audit
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<td>Type</td>
							<td>Description</td>
												
						</tr>
					</thead>
					<tbody>						
						<tr>							
							    <td>Date de création</td>
								<td th:text="${stationforestiere.Created_dttm}">test</a></td>
						</tr>
						<tr>							
							    <td>Créé par</td>
								<td th:text="${stationforestiere.Created_source}">test</a></td>
						</tr>
						<tr>							
							    <td>Date de modification</td>
								<td th:text="${stationforestiere.Last_updated_dttm}">test</a></td>
						</tr>
						<tr>							
							    <td>Dernière utilisateur</td>
								<td th:text="${stationforestiere.Last_updated_source}">test</a></td>
						</tr>
					</tbody>
				</table>




		</div>
		
		
	</div>
	<footer>
		<p>Very Tall Footer</p>
	</footer>
</body>
</html>









